.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 100;

  background: transparent;

  // 2rem = 2 * html.font-size = 2 * 10px = 20px (when default font-size is 16px, I change that to 62,5% (10px) so that is why 2 * 10px)
  padding: 2rem 9%;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  display: none;
}
