<section class="home" id="home">
  <div class="home-content">
    <h1>
      Hi, I'm <span>Marcin Szyszka</span>
    </h1>

    <div class="text-animate">
      <h3>Fullstack Developer</h3>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquid dolores est illo maiores maxime, obcaecati odit officiis possimus quaerat, repellat repellendus tenetur ut voluptas? Esse exercitationem nemo quis!</p>

    <div class="btn-box">
      <a href="#" class="btn">Hire Me</a>
      <a href="#" class="btn">Let's Talk</a>
    </div>

  </div>
</section>
